$bright-yellow: #fdf89d;
$border: lightblue;
$button-color: rgb(124, 220, 140);
$button-color-hover: rgb(51, 186, 73);
$orange-gradient: linear-gradient(
  90deg,
  rgba(249, 115, 4, 1) 30%,
  rgba(253, 248, 157, 1) 100%
);
